################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.obj
*.json
*.iobj
*.txt
*.pdb
*.log
*.ipdb
*.pch
*.recipe
*.exe
*.tlog
*.opendb
*.db-wal
*.db-shm
*.command
/LEON/Release/csso.dll
*.ipch
*.wsuo
/LEON/1
/LEON/.vs/csso/FileContentIndex/e3c31403-596d-440f-884e-1c0448887856.vsidx
/LEON/.vs/csso/FileContentIndex/07f69f0e-6143-4194-973a-cfb66c0c7848.vsidx
/LEON/.vs/csso/FileContentIndex/67016d2c-49ce-493f-b5e6-026d0452036f.vsidx
/LEON/.vs/csso/FileContentIndex/e3c31403-596d-440f-884e-1c0448887856.vsidx
/LEON/.vs/csso/FileContentIndex/07f69f0e-6143-4194-973a-cfb66c0c7848.vsidx
/LEON/.vs/csso/FileContentIndex/67016d2c-49ce-493f-b5e6-026d0452036f.vsidx
